*{
    margin: 0;
}

@font-face {
    font-family: "Outfit";
    src: url('Outfit-Regular.ttf');
}


body{

    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
    font-size: 0.938rem;

}

#container{
    margin: 0 auto;
    padding: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#main
{
    background-color: hsl(0, 0%, 100%) ;
    text-align: center;
    width: 17.5rem;
    padding: 1.25rem;
    border-radius: 1rem; 
}

#main h1{
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

#main p{
    margin-bottom: 1.25rem;
    color: hsl(216, 15%, 48%);


}

